*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica' ;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

nav{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
#nav-part1{
    gap: 2px;
    display: flex;
    align-items: center;
}
.circle{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: rgb(18, 18, 18);
}

#nav-part2{
    gap: 25px;
    display: flex;
    align-items: center;
}

#nav-part2 h4{
    font-size: 1em;
}

#nav-part2 span{
    color: rgb(74, 74, 76);
    margin-left: 15px;
}

nav2{
    display: flex;
    height: 40px;
    width: 100%;
    gap: 50px;
    align-items: center;
    padding: 0 40px;
}

nav2 h3{
    font-size: 1.1vw;
    text-transform: uppercase;
    font-weight: 600;
}

#content{
    height: calc(100% - 100px);
    width: 100%;
    /* background-color: blue; */
}

#text-content{
    height: 45%;
    width: 100%;
    /* background-color: burlywood; */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 4px;
}

#text-content::-webkit-scrollbar-thumb{
    background-color: orangered;
}

.elem{
    flex-shrink: 0;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem h1{
    font-size: 100px;
    font-weight: 300;
}

#image-content{
    height: 60%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x:auto;
}

#image-content::-webkit-scrollbar{
    display: none;
}

#image-content img{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#menu{
    display: none;
}

@media (max-width: 600px){
    nav{
        height: 50px;
        padding: 0 40px;
    }

    #menu{
        display: initial;
        font-weight: 600;
    }

    .circle{
        height: 12px;
        width: 12px;
    }

    #nav-part2 {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 100%;
    }

    #nav-part2 h4:nth-child(1){
        display: initial;
        font-size: 14px;
    }  

    #nav-part2 h4 {
        display: none;
    }
    
    #nav-part2 span{
        margin-left: 1px;
        margin-right: 20px;
    }

    nav2{
        height: 20px;
        gap: 22px;
        justify-content: center;
    }
    
    nav2 h3{
        font-size: 2.5vw;
    }
    
    .elem{
        width: 100%;
    }
    
    .elem h1{
        font-size: 65px;
    }

}